.order_data_column input.short.success,
#lpost_wc_metabox_new input.success {border-color:#29a700;background:#29a70005;}
.order_data_column input.short.error,
#lpost_wc_metabox_new input.error {border-color:#f50000;background:#f5000005;}

#_lp_receive_id_warehouse_field .optional {
	display: none;
}

body.iframe-order #wpadminbar,
body.iframe-order #adminmenumain,
body.iframe-order #adminmenuwrap,
body.iframe-order #screen-meta,
body.iframe-order #screen-meta-links,
body.iframe-order #woocommerce-embedded-root,
body.iframe-order .wp-heading-inline,
body.iframe-order .page-title-action,
body.iframe-order .wp-header-end,
body.iframe-order #delete-action {
	display: none;
}
body.iframe-order #wpbody-content > .wrap {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 9999;
	background: #f0f0f1;
	overflow: auto;
}

.invoices-table-wrapper {
	position: relative;
}
.invoices-table-wrapper.loading::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #eee;
	opacity: 0.8;
	z-index: 1;
}
.invoices-table-wrapper.loading::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='L9' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' enable-background='new 0 0 0 0' xml:space='preserve'%3E%3Cpath fill='%23999' d='M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50'%3E%3CanimateTransform attributeName='transform' attributeType='XML' type='rotate' dur='1s' from='0 50 50' to='360 50 50' repeatCount='indefinite'%3E%3C/animateTransform%3E%3C/path%3E%3C/svg%3E");
	background-position: 50% 50%;
	background-size: 32px 32px;
	background-repeat: no-repeat;
}

.invoices-table .errors {
	margin: 5px 0;
	color: #ef0000;
}

.tablenav-invoices {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	float: right;
}
.tablenav-invoices .page-numbers {
    display: inline-block;
    vertical-align: baseline;
    min-width: 30px;
    min-height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0;
    padding: 0 4px;
    font-size: 12px;
    background: #f6f7f7;
    border: 1px solid #cacaca;
    box-shadow: none;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 3px;
    white-space: nowrap;
}
.tablenav-invoices .page-numbers:hover {
    background: #f0f0f1;
    border-color: #0a4b78;
    color: #0a4b78;
}

.tablenav-invoices .page-numbers.current {
	color: #cacaca!important;
	border-color: #cacaca!important;
	cursor: default!important;
}